<div class="row gutters">
                
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="form-group">
            <label for="fullName">Username</label>
            <input type="text" class="form-control" name="cf-name" id="fullName" placeholder="Enter new Username">
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="form-group">
            <label for="fullName">Full Name</label>
            <input type="text" class="form-control" name="cf-full_name" id="fullName" placeholder="Enter new full name">
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="form-group">
            <label for="eMail">Email</label>
            <input type="email" class="form-control" name="cf-email" id="eMail" placeholder="Enter new email ID">
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" name="cf-phone" id="phone" placeholder="Enter new phone number">
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="form-group">
            <label for="website">Password</label>
            <input type="password" class="form-control" name="cf-password" id="website" placeholder="Enter your password to confirm">
        </div>
    </div>
</div>
</div>